<component name="ArtifactManager">
  <artifact type="war" name="spring4soap:war">
    <output-path>$PROJECT_DIR$/Spring4SoapProducer/target</output-path>
    <root id="archive" name="spring4soap-1.war">
      <element id="artifact" artifact-name="spring4soap:war exploded" />
    </root>
  </artifact>
</component>